
.card {
  
  padding:15px;
  width:55%;
  margin: 40px auto;
   
}

textarea {
  width:100%;
}

.p-2{
  background-color: bisque;
  border: 1px solid black;
  margin: 6px
}

.subbtn {
  float:right;
  
}